torch==2.4.1
tensorflow==2.18.0
tensorflow_cpu==2.18.0
numpy==1.26.4
requests==2.31.0
requests-mock==1.12.1
requests-toolbelt==1.0.0
requests-unixsocket==0.2.0
safetensors==0.4.4
scikit-learn==1.5.2
shap==0.46.0
fastapi==0.110.1
fastapi-utils==0.8.0
transformers==4.44.2
pydantic==2.5.0
pydantic-settings==2.4.0
pydantic_core==2.14.1
xgboost==3.0.0
urllib3==2.2.1
uvicorn==0.29.0
tokenizers==0.19.1
tf_keras==2.18.0
scikit-learn==1.5.2
scipy==1.13.0
huggingface-hub==0.24.6